<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>サインアップ</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/todo.css}">
	</head>
	<body>
		<div class="form_back sd">
			<div class="form sd">
				<p class="title sd test">Sign up</p>
				<div class="form_box sd">
					<form method="post" th:object="${userForm}" style="width: 400px;">
						<div class="form_box_inner">
							<p class="text sd">ユーザーID</p>
							<input class="item" type="text" th:field="*{userName}">
						</div>
						<div class="form_box_inner">
							<p class="text sd">パスワード</p>
							<input class="item sd" type="password" th:field="*{password}">
						</div>
						<button class="form_button sd">
							<p class="form_button_text sd">サインアップ</p>
						</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>